#root {
  max-width: 1000rem;
  min-width: 100vw;
  margin: 0;
  text-align: center;
}

p {
  font-size: 22px;
}

.navbar {
  border: 1px solid #4059AD;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  width: 100%;
  max-width: var(--container);
  justify-content: space-between;
  padding: 0;
}

.main-content {
  margin-top: 4rem;
  padding-top: 2rem;
  display: flex;
  place-items: center;
  flex-direction: column;
  min-width: 80vw;

}
.nav-button {
  margin-left: 2rem
}

.notes-form {
  display: flex;
  flex-direction: column;
  place-items: center;
  
}

#create-notes-button {
  margin: 2rem;
}

#notes-text-area {
  margin: 2rem;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 2em;
  width: 80%;
  height: 30rem;
  opacity: 0.8;
  background-color: #EADEDA;
  margin: 2rem;
}

.read-the-docs {
  color: #888;
}

