#root {
  max-width: 1000rem;
  min-width: 100vw;
  margin: 0;
  text-align: center;
}

p {
  font-size: 22px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
  border: 4px solid #869ad9;
  border-radius: 25px;
  position: fixed;
  margin-top: 2rem;
  top: 0;
  width: 80%;
  background-color: #cfe9f3;
  font-weight:bold;
  font-size:1.1em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  z-index: 100;
}

.main-content {

  padding-top: 2rem;
  display: flex;
  place-items: center;
  flex-direction: column;
  min-width: 80vw;

}

.logo {
  height: 14em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #185c89aa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  width: 80%;
  height: 30rem;
}

.read-the-docs {
  color: #888;
}

